body {
  background-image: url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  backdrop-filter: blur(1.5px);
  width: 100vw;
}

.clock {
  color: white;
  cursor: default;
  font-family: monospace;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(169, 169, 169, 0.727);
  text-align: center;
}